.crowdsale {
    min-height: 100vh;
}

.crowdsale .cover {
    height: 100vh;
    background: #000000;
    background-size: 80%;
}

.crowdsale .cover img {
    height: 90vh;
    object-fit: cover;
    width: 100%;
    margin-top: 10vh;
}

@media (max-width: 767px) {
    .crowdsale .cover {
        height: 85vh;
    }
    .crowdsale .cover img {
        height: 75vh;
    }
}

/** Details */
.crowdsale .details {
    min-height: 75vh;
    background: #1d232f;
    padding: 75px 0 75px 0;
}

.crowdsale .details h4 {
    color: #f2b45c;
    font-family: GothamLight;
    font-size: 1.6rem;
}

.crowdsale .details hr {
    border-width: 4px;
    width: 100px;
    margin-top: 20px;
    border-color: #ffffff;
}

.crowdsale .details .info {
    margin-top: 50px;
    color: #e0e1e5;
    text-align: center;
    padding: 0 150px 0 150px;
    font-size: 14px;
    font-family: GothamLight;
}

.crowdsale .details h3 {
    color: #FFFFFF;
    margin-top: 75px;
    font-family: GothamMedium;
    font-size: 36px;
    text-align: center;
}

.crowdsale .details .remaining {
    color: #f2b45c;
    font-family: GothamMedium;
    text-align: center;
    margin: 30px 0 30px 0;
}

.crowdsale .details .progressbar {
    width: 300px !important;
    margin: 20px auto 0 auto !important;
}

.crowdsale .details .time {
    color: #FFFFFF;
}

.crowdsale .details .dbet-meter {
    width: 325px;
    margin: 20px auto;
}

.crowdsale .details .dbet-meter p {
    color: #f2b45c;
    font-size: 18px;
}

.crowdsale .details .dbet-meter {
    text-align: start;
}

.crowdsale .details .dbet-meter .end {
    text-align: right;
}

.crowdsale .details .prices {
    width: 375px;
    margin: 40px auto 0 auto;
}

.crowdsale .details .prices p {
    color: #f2b45c;
    font-size: 20px;
    font-family: GothamRoundedMedium;
}

.crowdsale .details .prices .price {
    color: #FFFFFF;
}

@media (max-width: 767px) {
    .crowdsale .details .info {
        padding: 0 20px 0 20px;
        text-align: justify;
    }

    .crowdsale .details h3 {
        margin-top: 60px;
        font-size: 32px;
    }

    .crowdsale .details .progressbar {
        width: 200px;
        margin: 20px auto 0 auto;
    }

    .crowdsale .details .dbet-meter .end {
        text-align: center;
    }

    .crowdsale .details .prices {
        width: inherit;
    }
}

/** Buy */
.crowdsale .buy {
    min-height: 60vh;
    background: #f2b45c;
    padding: 60px 0 50px 0;
}

.crowdsale .buy .address {
    font-family: GothamRoundedMedium;
    font-size: 20px;
}

.crowdsale .buy .ico-address {
    font-family: GothamLight;
    color: #000000;
}

.crowdsale .buy .conversion {
    margin-top: 40px;
}

.crowdsale .buy input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.crowdsale .buy input[type="number"] {
    -moz-appearance: textfield;
}

.crowdsale .buy input:focus {
    outline: none;
}

.crowdsale .buy .dbets {
    background: #ffffff;
    padding: 40px;
    height: 110px;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.crowdsale .buy .dbets > .row {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.crowdsale .buy .dbets p {
    color: #000000;
    font-size: 24px;
    font-family: GothamLight;
    margin: 0;
}

.crowdsale .buy .dbets input {
    color: #000000;
    font-size: 24px;
    background: transparent;
    font-family: GothamMedium;
    width: 100%;
    outline: none;
    border: 0;
}

.crowdsale .buy .eth {
    background: #1d232f;
    padding: 40px;
    height: 110px;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.crowdsale .buy .eth > .row {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.crowdsale .buy .eth p {
    color: #ffffff;
    font-size: 24px;
    font-family: GothamLight;
    margin: 0;
}

.crowdsale .buy .eth input {
    color: #ffffff;
    font-size: 24px;
    background: transparent;
    font-family: GothamMedium;
    width: 100%;
    outline: none;
    border: 0;
}

.crowdsale .price {
    color: #000000;
    font-size: 14px;
    font-family: GothamRoundedMedium;
    margin-top: 40px;
}

.crowdsale .buy-dbets {
    background: #d22e28;
    color: #ffffff;
    border: 0;
    padding: 10px;
    height: 50px;
    text-align: center;
    width: 175px;
    margin: 10px auto 0 auto;
    border-radius: 0;
    font-family: TradeGothicBold;
    font-size: 21px;
}

.crowdsale .buy .warning {
    padding: 0 150px 0 150px;
    font-family: 'GothamLight';
    font-size: 14px;
    margin-top: 40px;
    color: #000000;
    text-align: center;
}

@media (max-width: 767px) {
    .crowdsale .buy .conversion {
        margin-top: 0;
    }

    .crowdsale .buy .ico-address {
        font-size: 0.8rem;
    }

    .crowdsale .buy .warning {
        padding: 0 20px 0 20px;
        text-align: justify;
    }
}

/** Instructions */
.crowdsale .instructions {
    padding: 35px 0 50px 0;
    background: #ffffff;
    position: relative;
    z-index: 1;
}

.crowdsale .instructions hr {
    border-width: 4px;
    width: 100px;
    margin-top: 20px;
    border-color: #f2b45c;
}

.crowdsale .instructions h1,
.crowdsale .instructions h2,
.crowdsale .instructions h3,
.crowdsale .instructions h4,
.crowdsale .instructions h5 {
    color: #0B1123;
    font-family: GothamLight;
}

.crowdsale .instructions .logo {
    height: 200px;
    width: 200px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.crowdsale .instructions li {
    color: #0B1123;
    padding-top: 10px;
    text-align: justify;
    font-family: GothamLight;
}

.crowdsale .instructions a,
.crowdsale .instructions a:hover,
.crowdsale .instructions a:active {
    color: #f2b45c;
    font-family: GothamBold;
    text-decoration: none;
}

.crowdsale .instructions a:hover,
.crowdsale .instructions a:active {
    font-weight: bold;
}

.crowdsale .instructions .choice {
    padding: 0 20px 0 20px;
}

@media (max-width: 767px) {
    .crowdsale .instructions ul {
        padding-left: 20px;
        padding-right: 10px;
    }
}