html,
body {
    overflow-x: hidden;
}

.faq {
    background: #192440; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #192440, #0c1226); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #192440, #0c1226); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar .logo {
    height: 48px;
}

.faq .cover {
    padding: 140px 0 60px 0;
}

.faq .divider {
    border-width: 4px;
    border-color: #f26170;
    text-align: center;
    width: 125px;
}

.faq h1 {
    font-size: 42px;
    font-weight: bold;
}

.faq .selected {
    background: #f26170;
    border-radius: 10px;
}

/*Topic*/
.faq .topic h5 {
    color: #ffffff;
    font-weight: bold;
}

.faq .topic p {
    font-size: 14px;
    color: #f26170;
}

.faq .topic .selected {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.faq .topic .selected p {
    color: #ffffff;
}

/*Topic Card*/
.faq .topic-card {
    padding: 0 30px 0 30px;
}

.faq .topic-card h3 {
    color: #ffffff;
    font-weight: bold;
}

.faq .topic-card h5 {
    color: #f26170;
    font-weight: bold;
}

.faq .topic-card p {
    color: #464646;
}

.faq .topic-card .divider {
    border-width: 2px;
    border-color: rgba(242, 97, 112, 0.35);
    margin: 25px 0 25px 0;
    width: 100%;
}

.faq .questions .q {
    border-bottom: 1px solid rgba(242, 97, 112, 0.35);
}

.faq .questions .q:last-child {
    border-bottom: none;
}

.faq .q .question {
    color: #f26170;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.faq .q .answer {
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: bold;
}