# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
Dockerfile
docker-compose.yml
.DS_Store
.dockerignore
.gitignore
README.md
.env
.env.*
deployment
data
.prettierrc
images.d.ts
tsconfig.*
tslint.json
VERSION
__tests__
docker-build.sh
docker-build.local.sh
docs




