# dependencies
/node_modules

# testing
/coverage

# production

# misc
Dockerfile
docker-compose.yml
.DS_Store
.dockerignore
.gitignore
README.md
.env
.env.*
deployment
data
.prettierrc
__tests__
docker-build.sh
docker-build.local.sh
docs
build




