[submodule "public/slots-mythsmagic"]
	path = public/slots-mythsmagic
	url = git@github.com:decent-bet/slots-games-mythmagic.git
[submodule "public/slots-classic-7even"]
	path = public/slots-classic-7even
	url = git@github.com:decent-bet/slots-games-classic-7even.git
[submodule "public/slots-monster-mayhem"]
	path = public/slots-monster-mayhem
	url = git@github.com:decent-bet/slots-games-monster-mayhem.git
[submodule "public/slots-shiprekt"]
	path = public/slots-shiprekt
	url = git@github.com:decent-bet/slots-games-shiprekt.git
[submodule "public/slots-mount-crypto"]
	path = public/slots-mount-crypto
	url = git@github.com:decent-bet/slots-games-mount-crypto.git
[submodule "public/slots-spaceman"]
	path = public/slots-spaceman
	url = git@github.com:decent-bet/slots-games-spaceman.git
[submodule "public/slots-crypto-chaos"]
	path = public/slots-crypto-chaos
	url = git@github.com:decent-bet/slots-games-crypto-chaos.git
[submodule "public/slots-egyptian-treasures"]
	path = public/slots-egyptian-treasures
	url = git@github.com:decent-bet/slots-games-egyptian-treasures.git
[submodule "public/slots-emoji-land"]
	path = public/slots-emoji-land
	url = git@github.com:decent-bet/slots-games-emoji-land.git
[submodule "public/slots-defcon"]
	path = public/slots-defcon
	url = git@github.com:decent-bet/slots-games-defcon.git
