# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
.gitignore
.idea/
node_modules
build

# testing
coverage

# production
build_webpack
test/metacoin.js
test/TestMetacoin.sol
installed_contracts
todos
.node-xmlhttprequest-sync-13220
truffle-readme.md

# misc
.DS_Store
.env
npm-debug.log
.truffle-solidity-loader
yarn-error.log
