# dependencies
/node_modules

# testing
/coverage

# production
/build
/build_webpack
/out
.idea/

# Typechain
typings

# testing
coverage

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# games
public/slots