/* 
Structure 
*/
.house .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding: 60px 15px; 
}

/* Reduce to 1 column in MD screens */
@media(max-width: 947px){
    .house .container{
        grid-template-columns: 1fr;
    }
}

.house .container > header {
    grid-column: 1 / -2;
}

.house .container > section {
    grid-column: 1 / -1;
}

.house table.card-table {
    width: 100%;
}

/*
Typography
*/
.house table.card-table th {
    text-align: left;
}

.house table.card-table td {
    text-align: right;
}