.dashboard h1,
.dashboard h2,
.dashboard h3,
.dashboard h4,
.dashboard h5 {
    color: #ffffff;
    font-family: GothamLight;
}

.dashboard .appbar .logo-container {
    flex: 1;
    display: flex;
    height: 100%;
    align-items: center;
    width: fit-content;
}

.dashboard .appbar .logo {
    height: 24px;
    object-fit: contain;
}

.dashboard .appbar .toolbar-button {
    align-self: center;
}

.menu-item {
    font-family: 'GothamLight' !important;
}

.menu-item.selected span,
.menu-item.selected svg {
    color: #f2b45c !important;
}

.dashboard main {
    padding-top: 60px;
    height: 100%;
}

.dashboard .details .logo {
    height: 95px;
    width: 95px;
    display: block;
    margin: 0 auto 10px auto;
}

.dashboard .details p {
    color: #3a4182;
}

.dashboard .event-card img {
    height: 225px;
    width: 225px;
    object-fit: cover;
}

.dashboard .games .game:hover {
    background: #3a4182;
    color: #ffffff;
}

.scrollbar {
    overflow-y: scroll;
}

.dashboard #sidebar-wrapper::-webkit-scrollbar {
    width: 1px;
}

/* Drawer */
.drawerInner {
    max-width: 320px;
}

.drawer img {
    height: 144px;
    width: 100%;
    object-fit: contain;
    padding: 0px 24px;
}