.dapp .sportsbook {
    min-height: 100vh;
    background: #000000;
}

.dapp .sportsbook .navbar {
    height: 60px;
    background: #2a3040; /* Old Browsers */
    background: -webkit-linear-gradient(top, #282e40, #121822); /*Safari 5.1-6*/
    background: -o-linear-gradient(top, #282e40, #121822); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top, #282e40, #121822); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #282e40, #121822); /*Standard*/
    padding: 0 !important;
}

.dapp .sportsbook .navbar-nav {
    width: 100% !important;
    height: 100%;
}

.dapp .sportsbook .navbar-collapse {
    height: 100%;
}

.dapp .sportsbook .navbar .nav-item {
    border-left: solid 1px rgba(255, 255, 255, 0.4);
    height: 60px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.dapp .sportsbook .navbar .nav-item:last-child {
    border-right: solid 1px rgb(91, 94, 104);
}

.dapp .sportsbook .navbar .nav-item.active a,
.dapp .sportsbook .navbar .nav-item a:hover {
    color: #f2b45c;
}

.dapp .sportsbook .navbar .nav-link {
    padding: 0;
}

.dapp .sportsbook .navbar .nav-item a {
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    font-family: TradeGothic;
    font-size: 0.95rem;
}

.dapp .sportsbook .home {
    background: #12161e;
    min-height: 100vh;
}

.dapp .sportsbook .home .cover img {
    width: 100%;
    object-fit: contain;
    cursor: pointer;
}

.dapp .sportsbook .home .col-12 {
    padding: 0;
}

.dapp .sportsbook .home .top-right {
    height: 60px;
    border-bottom: solid 1px;
}

.dapp .sportsbook .home .top-right p {
    font-size: 14px;
    padding-top: 18px;
}

.dapp .sportsbook .icon {
    color: #f2b45c;
}

.dapp .sportsbook .offering p {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #fefefe;
}

.dapp .sportsbook .offering img {
    height: 115px;
    width: 100%;
    object-fit: contain;
}