.portal .sportsbook {
    min-height: 100vh;
    background: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
    ),
    url('../../../../../../../public/assets/img/backgrounds/sportsbook-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.portal .sportsbook .main {
    margin-left: 5vw;
    margin-right: 5vw;
}

.portal .sportsbook h4 {
    text-transform: uppercase;
    color: #f2b45c !important;
    font-size: 1.25rem;
    font-family: TradeGothicBold;
}

.portal .sportsbook small {
    color: #cccccc;
}

.portal .sportsbook hr {
    background: rgba(255, 255, 255, 0.3);
}

.portal .sportsbook .stats .val,
.portal .sportsbook .stats .stat {
    text-align: center;
}

.portal .sportsbook .stats .stat {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.portal .sportsbook .teams,
.portal .sportsbook .game-odds .type {
    color: #f2b45c !important;
}

.portal .sportsbook .game-odds .no-odds {
    color: #f25557 !important;
}

.portal .sportsbook .game-odds .key {
    margin-bottom: 10px;
}

.portal .sportsbook .game-odds .btn {
    display: block;
    padding: 8px 25px !important;
    margin-top: 4vh;
}

.portal .sportsbook .bet-limits .loading p,
.portal .sportsbook .key {
    color: #f2b45c !important;
}

.portal .sportsbook .stats p {
    text-align: center;
}

.portal .sportsbook .stats button {
    display: block;
    padding: 7px 15px;
    width: 100px;
}

.portal .sportsbook table td,
.portal .sportsbook table th {
    font-family: TradeGothic;
}