input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.dapp {
    min-height: 100vh;
    background: linear-gradient(
            rgba(0, 0, 0, 0.55),
            rgba(0, 0, 0, 0.55)
    ),
    url('../../../../public/assets/img/backgrounds/platform.PNG');
    background-size: cover;
    background-attachment: fixed;
}

.dapp .appbar {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply;
}

.dapp h1,
.dapp h2,
.dapp h3,
.dapp h4,
.dapp h5 {
    color: #ffffff;
    font-family: GothamLight;
}

.dapp .appbar-title .logo {
    width: 110px;
    object-fit: contain;
}

.dapp .color-gold {
    color: #f2b45c !important;
}

.dapp .drawer .logo {
    height: 150px;
    width: 80%;
    object-fit: contain;
    margin: 20px auto 20px auto;
    display: block;
}

.dapp .menu-item:hover {
    background: #292b2c !important;
    font-weight: bold !important;
}

.dapp .menu-icon {
    color: #f2b45c !important;
    width: 32px;
}

.dapp .main {
    padding-top: 100px;
}

.dapp .details .logo {
    height: 95px;
    width: 95px;
    display: block;
    margin: 0 auto 10px auto;
}

.dapp .details p {
    color: #3a4182;
}

.dapp .event-card img {
    height: 225px;
    width: 225px;
    object-fit: cover;
}

.dapp .games .game:hover {
    background: #3a4182;
    color: #ffffff;
}

.scrollbar {
    overflow-y: scroll;
}

.dapp #sidebar-wrapper::-webkit-scrollbar {
    width: 1px;
}