.login {
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.login > * {
    flex: 0;
}

.login .login-card {
    max-width: 600px;
    margin: auto;
    height: 100%;
}

.login .login-card {
    border-radius: 10px !important;
}

/* Login Dialog Actions */
.login .login-card .login-actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; 
}

.login .login-card .login-actions > * {
    flex: 0 auto;
}

/* Inner Login Dialog. Uses CSS Grid.  */
.login .login-card .login-inner {
    display: grid;
    grid-template-columns: 0fr 1fr;
    column-gap: 15px;
}

.login .login-card .login-inner .input {
    grid-column: 1 / -1;
}

/* Fixes for the Logo Image */
.login .login-card .logo{
    max-height: 48px;
    object-fit: scale-down;
    object-position: left;
    align-self: center;
}

/* Fixes for the 'Node Type' select box */
.login .login-card .login-inner .node-types  {
    width: 100% !important;
}

/* Remove ALLCAPS from the buttons in the dialog */
.login .login-card .login-actions button span {
    text-transform: none !important;
}

/* Force monospace in the input */
.login .login-card .login-inner textarea {
    font-family: Inconsolata, monospace !important;
}

@media (max-width: 767px) {
    .login {
        background-size: 200%;
    }

    .login .login-card{
        margin: 8px;
    }

    /* Changes the layout of the main grid: 1 column only */
    .login .login-card .login-inner {
        grid-template-columns: 1fr;
    }

    .login .login-card .logo{
        max-height: unset;
        max-width: 100%;
    }

}