.login {
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    background-image: url('../../../../public/assets/img/backgrounds/platform.PNG');
    background-size: cover;
    background-attachment: fixed;
}

.login > * {
    flex: 0;
}

.login .login-card {
    width: 100%;
    height: 100%;
}

.login .login-card {
    border-radius: 10px !important;
}

/* Login Dialog Actions */
.login .login-card .login-actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; 
}

.login .login-card .login-actions > * {
    flex: 0 auto;
}

/* Inner Login Dialog. Uses CSS Grid.  */
.login .login-card .login-inner {
    display: grid;
    grid-template-columns: 1fr auto;
}

.login .login-card .login-inner .input {
    grid-column: 1 / -1;
}

.login .login-card header .logo{
    max-height: 100px;
    padding: 20px 0px;
    object-fit: scale-down;
    object-position: left;
}

@media (max-width: 767px) {
    .login {
        background-size: 200%;
    }

    /* Changes the layout of the main grid: 1 column only */
    .login .login-card .login-inner {
        grid-template-columns: 1fr;
    }

}