html,
body {
    overflow-x: hidden;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-repeat: repeat;
    background-position: top center;
    background-image: url('../img/app-bg.png');
    background-size: contain;
    background-color: #2a324e !important;
}

::scrollbar {
    width: 8px; 
    height: 8px;
}

::scrollbar-track {
    background: rgb(47, 49, 62);
}

::scrollbar-thumb {
    background: #f2b45c;
}