/* CSS Grid. Two Columns. */
.casino .container {
    display: grid;
    padding: 30px 0px;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

/* CSS Grid: span the whole row */
.casino section {
    grid-column: 1 / -1;
}

.casino .logo-container .logo {
    height: 48px;
    object-fit: cover;
    display: block;
    margin: 20px auto 0 auto;
}

.casino .logo-container h3 {
    color: #f2b45c;
}

.casino .text-gold {
    color: #f2b45c;
}

.casino .game-card {
    border-radius: 2px !important;
    cursor: pointer;
}

/* will move the card when it is hovered */
.casino .game-card:hover{
    margin-bottom: 20px;
    margin-top: -20px;
}

.casino .game-card .background {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover !important;
    height: 300px;
}

.casino .progress-text {
    text-align: center;
}

.casino .game-card .title {
    text-align: center;
    padding: 10px 0 10px 0;
}

.casino .game-card .title h4 {
}

.casino .game-card .title p {
    font-size: 12px;
}

.casino .game-card a {
    text-decoration: none;
}