html,
body {
    overflow-x: hidden;
    font-family: 'Roboto';
}

body {
    background-repeat: repeat-y;
    background-position: top center;
    background-image: url('../../public/assets/img/backgrounds/bg_patterns.png');
    background-size: cover;
    background-color: #2a324e;
}

@font-face {
    font-family: 'TradeGothic';
    src: url('../../public/assets/fonts/trade-gothic-lt.ttf')
}

@font-face {
    font-family: 'TradeGothicBold';
    src: url('../../public/assets/fonts/trade-gothic-lt-bold.ttf')
}

@font-face {
    font-family: 'GothamLight';
    src: url('../../public/assets/fonts/gotham-light.otf')
}

@font-face {
    font-family: 'GothamMedium';
    src: url('../../public/assets/fonts/gotham-medium.otf')
}

@font-face {
    font-family: 'GothamBold';
    src: url('../../public/assets/fonts/gotham-bold.otf')
}

@font-face {
    font-family: 'GothamRoundedMedium';
    src: url('../../public/assets/fonts/gotham-rounded-medium.otf')
}

.logo-text {
    font-weight: bold;
    color: #e8b863;
}

.clickable {
    cursor: pointer;
}

.hvr-underline-from-left::before {
    background-color: #a40c1a;
}

.btn {
    cursor: pointer;
    font-family: 'Roboto';
}

/** Buttons */

.btn-outline-primary {
    color: #FFFFFF !important;
    border-color: #FFFFFF !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
    background: #e8b863;
    color: #FFFFFF !important;
    border-color: #e8b863 !important;
    outline: none;
    box-shadow: none;
}

.btn-primary {
    background-color: #a40c1a;
    border: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary:disabled {
    background: #6a0712;
    border: none;
    color: #FFFFFF !important;
    box-shadow: none;
}
