.balances{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 30px 0px;
}

/* Reduce to one column in MD screens */
@media(max-width: 947px){
    .balances{
        grid-template-columns: 1fr;
    }
}

.balances > header {
    grid-column: 1 / -1;
}
