.portal .discover .home {
    background: #12161e;
    min-height: 100vh;
}

.portal .discover .home .cover img {
    width: 100%;
    object-fit: contain;
    cursor: pointer;
}

.portal .discover .home .col-12 {
    padding: 0;
}

.portal .discover .home .top-right {
    height: 60px;
    border-bottom: solid 1px;
}

.portal .discover .home .top-right p {
    font-size: 14px;
    padding-top: 18px;
}

.portal .discover .icon {
    color: #f2b45c;
}

.portal .discover .offering p {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #fefefe;
}

.portal .discover .offering img {
    height: 115px;
    width: 100%;
    object-fit: contain;
}