/* Page structure with CSS Grid */
.slots {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 20px 0px;
}

@media (max-width: 714px) {
    .slots {
        grid-template-columns: 1fr;
    }
}

.slots > *:not(.game-card) {
    grid-column: 1 / -1;
}

.slots .channel-description > * {
    display: flex !important;
    flex-flow: row nowrap;
    height: 48px;
}

.slots .channel-description .balance {
    flex: 0 30%;
    display: flex;

    padding: 16px;
    background-color: #f2b45c;
    font-weight: bold;
    font-family: Inconsolata, monospace !important;
    text-align: right;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px; 
}

.slots .channel-description .balance > *{
    flex: 1 auto;
    align-self: center;
}

.slots .channel-description .channel-id {
    flex: 1;
    display: flex;

    align-items: center; 
    padding: 16px;
    font-family: Inconsolata, monospace !important;
}

/* All cards inside the slots component */
.slots .card {
    border-radius: 16px !important;
}

/* Game Card */
.slots .game-card {
    cursor: pointer;
    border-radius: 16px !important;
}

.slots .game-card img {
    border-radius: 16px;
}

.slots .chip-toolbar-container {
    display: flex;
    flex-flow: row nowrap;
    justify-items: space-between;
}

.slots .chip-toolbar-container > * {
    flex: 0 auto;
}

/* Channel List Table */
.slots .channel-table table {
    width: 100%;
}
.slots .channel-table table tr > * {
    vertical-align: middle;
}

/* Typography */
.slots .title-container h3 {
    color: #f2b45c;
}

.slots .text-gold {
    color: #f2b45c;
}

.slots .slot-channel-row .slot-channel-button span {
    text-transform: capitalize !important; /* Capitalization for the flatbuttons */
}
