/* Page structure with CSS Grid */
.slots {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 20px 0px;
}

@media (max-width: 714px) {
    .slots {
        grid-template-columns: 1fr;
    }
}

.slots > section {
    grid-column: 1 / -1;
}

.slots > .channel-list-card,
.slots > .chip-toolbar-container {
    grid-column: 1 / -1;
}

/* All cards inside the slots component */
.slots .card {
    border-radius: 15px !important;
}

/* Game Card */
.slots .game-card {
    cursor: pointer;
    border-radius: 15px !important;
}

.slots .game-card img {
    border-radius: 15px;
}

.slots .chip-toolbar-container {
    display: flex;
    flex-flow: row nowrap;
    justify-items: space-between;
}

.slots .chip-toolbar-container > * {
    flex: 0 auto;
}

/* Channel List Table */
.slots .channel-table table {
    width: 100%;
}
.slots .channel-table table tr > * {
    vertical-align: middle;
}

/* Typography */
.slots .title-container h3 {
    color: #f2b45c;
}

.slots .text-gold {
    color: #f2b45c;
}

.slots .slot-channel-row .slot-channel-button span {
    text-transform: capitalize !important; /* Capitalization for the flatbuttons */
}
