/* Page structure with CSS Grid */
.slots {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 20px 0px;
}

@media (max-width: 714px) {
    .slots {
        grid-template-columns: 1fr;
    }
}

.slots > *:not(.game-card) {
    grid-column: 1 / -1;
}

.slots .channel-description {
    font-family: Inconsolata, monospace !important;
    font-size: 14px;
}

.slots .channel-description .header {
    display: flex !important;
    flex-flow: row nowrap;
    height: 48px;
    padding: 0px !important;
}

/* Hide the empty text space in the card header on the Channel Description header */
.slots .channel-description .header > div:not(.balance) {
    display: none !important;
}

.slots .channel-description .balance {
    flex: 0 30%;
    display: flex;
    padding: 16px;

    color: #303030;
    border: 1px solid #303030;
    background-color: #f2b45c;
    align-items: center;
    font-weight: bold;
    font-family: Inconsolata, monospace !important;
    text-align: right;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}

.slots .channel-description .balance > * {
    flex: 1 100%;
}

/* All cards inside the slots component */
.slots .card {
    border-radius: 16px !important;
}

/* Game Card */
.slots .game-card {
    cursor: pointer;
    border-radius: 16px !important;
}

.slots .game-card img {
    border-radius: 16px;
}

.slots .chip-toolbar-container {
    display: flex;
    flex-flow: row nowrap;
    justify-items: space-between;
}

.slots .chip-toolbar-container > * {
    flex: 0 auto;
}

/* Typography */
.slots .title-container h3 {
    color: #f2b45c;
}

.slots .text-gold {
    color: #f2b45c;
}

.slots .slot-channel-row .slot-channel-button span {
    text-transform: capitalize !important; /* Capitalization for the buttons */
}
