footer {
    padding: 150px 110px 50px 110px !important;
    background: #1d232f;
}

.footer hr {
    margin: 0 15vw 0 15vw;
    background: rgba(212, 209, 211, 0.2);
}

.footer .copyright {
    color: #ffffff;
    font-size: 13px;
}

.footer h4 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}

.footer a,
.footer p,
.footer small {
    color: #E3E4E3;
}

.footer .link {
    padding-right: 30px;
}

.footer .icons {
    display: inline;
    margin-left: 45px;
}

.footer .icon {
    font-size: 18px;
    color: #ffffff;
    padding-left: 30px;
}

.footer a:hover,
.footer .icon:hover {
    text-decoration: none;
    color: #e8b863 !important;
    font-weight: bold;
}

.footer .bottom {
    margin-top: 150px;
}

.footer .logo {
    width: 160px;
    object-fit: contain;
}