html,
body {
    height: 100%;
}

#root {
    height: 100%;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
        url('../public/assets/img/backgrounds/platform.PNG');
    background-size: cover;
    background-attachment: fixed;
}

/* Scrollbars */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

::-webkit-scrollbar {
    width: 8px; /* for vertical scrollbars */
    height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: rgb(47, 49, 62);
}

::-webkit-scrollbar-thumb {
    background: #f2b45c;
}

.color-gold {
    color: #f2b45c !important;
}
