.login-div .register {
    color: #ff4e64;
}

.login-div .register:hover {
    color: #ff4e64;
    font-weight: bold;
    text-decoration: none;
}

.login-div h3 {
    color: #222222;
}

.login-div p {
    color: #222222;
}