.slots-game {
    margin: 25px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
}

@media (max-width: 700px) {
    .slots-game {
        grid-template-columns: 1fr;
    }
}

.slots-game iframe,
.slots-game .full-size {
    grid-column: 1/ -1;
}

.slots-game .double-size {
    grid-column: span 2;
}

@media (max-width: 700px) {
    .slots-game .double-size {
        grid-column: auto;
    }
}

.slots-game .card {
    border-radius: 16px !important;
}

.slots-game .channel-options > * {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.slots-game .channel-options .card-text {
    flex: 1;
}

.slots-game .card .card-actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.slots-game .card .card-actions > * {
    flex: auto;
}

.slots-game .card table {
    width: 100%;
}

.slots-game dl dd,
.slots-game table td:not(.no-text-break) {
    word-break: break-all;
}

::-webkit-scrollbar,
.slots-game table tbody::-webkit-scrollbar {
    width: 8px; /* for vertical scrollbars */
    height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track,
.slots-game table tbody::-webkit-scrollbar-track {
    background: rgb(47, 49, 62);
}

::-webkit-scrollbar-thumb,
.slots-game table tbody::-webkit-scrollbar-thumb {
    background: #f2b45c;
}
